<%= form_with(model: participant, local: true) do |form| %>
  <% if participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :participant_location %>
  </div>

  <div class="field">
    <%= form.label :duration_of_stay %>
    <%= form.number_field :duration_of_stay, id: :participant_duration_of_stay %>
  </div>

  <div class="field">
    <%= form.label :amount_of_garbage %>
    <%= form.number_field :amount_of_garbage, id: :participant_amount_of_garbage %>
  </div>

  <div class="field">
    <%= form.label :recycling_knowledge1 %>
    <%= form.text_field :recycling_knowledge1, id: :participant_recycling_knowledge1 %>
  </div>

  <div class="field">
    <%= form.label :recycling_knowledge2 %>
    <%= form.text_field :recycling_knowledge2, id: :participant_recycling_knowledge2 %>
  </div>

  <div class="field">
    <%= form.label :if_they_recycle %>
    <%= form.check_box :if_they_recycle, id: :participant_if_they_recycle %>
  </div>

  <div class="field">
    <%= form.label :if_they_recycle_in_IGC %>
    <%= form.check_box :if_they_recycle_in_IGC, id: :participant_if_they_recycle_in_IGC %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
