<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Duration of stay</th>
      <th>Amount of garbage</th>
      <th>Recycling knowledge1</th>
      <th>Recycling knowledge2</th>
      <th>If they recycle</th>
      <th>If they recycle in igc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.location %></td>
        <td><%= participant.duration_of_stay %></td>
        <td><%= participant.amount_of_garbage %></td>
        <td><%= participant.recycling_knowledge1 %></td>
        <td><%= participant.recycling_knowledge2 %></td>
        <td><%= participant.if_they_recycle %></td>
        <td><%= participant.if_they_recycle_in_IGC %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= button_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br><%= link_to 'Table of Contents', 'http://localhost:3000/' %><br>