<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @participant.location %>
</p>

<p>
  <strong>Duration of stay:</strong>
  <%= @participant.duration_of_stay %>
</p>

<p>
  <strong>Amount of garbage:</strong>
  <%= @participant.amount_of_garbage %>
</p>

<p>
  <strong>Recycling knowledge1:</strong>
  <%= @participant.recycling_knowledge1 %>
</p>

<p>
  <strong>Recycling knowledge2:</strong>
  <%= @participant.recycling_knowledge2 %>
</p>

<p>
  <strong>If they recycle:</strong>
  <%= @participant.if_they_recycle %>
</p>

<p>
  <strong>If they recycle in igc:</strong>
  <%= @participant.if_they_recycle_in_IGC %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
