<%= form_with(model: non_recycler, local: true) do |form| %>
  <% if non_recycler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(non_recycler.errors.count, "error") %> prohibited this non_recycler from being saved:</h2>

      <ul>
      <% non_recycler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :why_no_recycle %>
    <%= form.text_field :why_no_recycle, id: :non_recycler_why_no_recycle %>
  </div>

  <div class="field">
    <%= form.label :improvements %>
    <%= form.text_field :improvements, id: :non_recycler_improvements %>
  </div>

  <div class="field">
    <%= form.label :suggestion %>
    <%= form.text_field :suggestion, id: :non_recycler_suggestion %>
  </div>

  <div class="field">
    <%= form.label :participants_id %>
    <%= form.text_field :participants_id, id: :non_recycler_participants_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
