<p id="notice"><%= notice %></p>

<h1>Non Recyclers</h1>

<table>
  <thead>
    <tr>
      <th>Why no recycle</th>
      <th>Improvements</th>
      <th>Suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @non_recyclers.each do |non_recycler| %>
      <tr>
        <td><%= non_recycler.why_no_recycle %></td>
        <td><%= non_recycler.improvements %></td>
        <td><%= non_recycler.suggestion %></td>
        <td><%= link_to 'Show', non_recycler %></td>
        <td><%= link_to 'Edit', edit_non_recycler_path(non_recycler) %></td>
        <td><%= link_to 'Destroy', non_recycler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br><%= link_to 'Table of Contents', 'http://localhost:3000/' %><br>