<p id="notice"><%= notice %></p>

<p>
  <strong>Why no recycle:</strong>
  <%= @non_recycler.why_no_recycle %>
</p>

<p>
  <strong>Improvements:</strong>
  <%= @non_recycler.improvements %>
</p>

<p>
  <strong>Suggestion:</strong>
  <%= @non_recycler.suggestion %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @non_recycler.participants %>
</p>

<%= link_to 'Edit', edit_non_recycler_path(@non_recycler) %> |
<%= link_to 'Back', non_recyclers_path %>
