<%= form_with(model: recycler, local: true) do |form| %>
  <% if recycler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recycler.errors.count, "error") %> prohibited this recycler from being saved:</h2>

      <ul>
      <% recycler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :satisfaction %>
    <%= form.number_field :satisfaction, id: :recycler_satisfaction %>
  </div>

  <div class="field">
    <%= form.label :satisfaction_why %>
    <%= form.text_field :satisfaction_why, id: :recycler_satisfaction_why %>
  </div>

  <div class="field">
    <%= form.label :improvements %>
    <%= form.text_field :improvements, id: :recycler_improvements %>
  </div>

  <div class="field">
    <%= form.label :suggestion %>
    <%= form.text_field :suggestion, id: :recycler_suggestion %>
  </div>

  <div class="field">
    <%= form.label :participants_id %>
    <%= form.text_field :participants_id, id: :recycler_participants_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
