<p id="notice"><%= notice %></p>

<h1>Recyclers</h1>

<table>
  <thead>
    <tr>
      <th>Satisfaction</th>
      <th>Satisfaction why</th>
      <th>Improvements</th>
      <th>Suggestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recyclers.each do |recycler| %>
      <tr>
        <td><%= recycler.satisfaction %></td>
        <td><%= recycler.satisfaction_why %></td>
        <td><%= recycler.improvements %></td>
        <td><%= recycler.suggestion %></td>
        <td><%= link_to 'Show', recycler %></td>
        <td><%= link_to 'Edit', edit_recycler_path(recycler) %></td>
        <td><%= link_to 'Destroy', recycler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br><%= link_to 'Table of Contents', 'http://localhost:3000/' %><br>