<p id="notice"><%= notice %></p>

<p>
  <strong>Satisfaction:</strong>
  <%= @recycler.satisfaction %>
</p>

<p>
  <strong>Satisfaction why:</strong>
  <%= @recycler.satisfaction_why %>
</p>

<p>
  <strong>Improvements:</strong>
  <%= @recycler.improvements %>
</p>

<p>
  <strong>Suggestion:</strong>
  <%= @recycler.suggestion %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @recycler.participants %>
</p>

<%= link_to 'Edit', edit_recycler_path(@recycler) %> |
<%= link_to 'Back', recyclers_path %>
