<h1>Survey Result Analysis<h1>
<br><br>	
<h2>Introduction<h2>
	<h4>We have created a survey after careful planning, collecting data by asking the appropriate individuals in our demographics. 
	And then, we have extracted, transformed and loaded our survey data. 
	IGC waste disposal system is not being fully utilized and people that are involved are affected negatively. 
	The process was long and meticulous, but we have come up with some ideas how to fix the current state of IGC waste disposal system.<h4>
 
<h2>What did you do?<h2>
	<h4>Our study is designed to determine what interventions can be deployed to reduce waste and increase recycling in IGC housing. 
	To understand the patterns of waste disposal system in IGC housing, we created and conducted IGC Waste Disposal survey in October 2017 with 33 respondents. 
	We asked questions that were designed to determine how IGC housing residents manage their waste, recycle, recycling knowledge, and how they could be better educated. 
	In the beginning of the survey, we asked questions on demographic purpose. Then, we branched out the questions by recyclers and non-recyclers. 
	We asked them to rate their satisfaction on IGC waste disposal system, their preference of suggested solutions, and the survey ended in open-end questions. 
	In addition, we used Google Form to facilitate logic-branching, direct results saving into a shareable spreadsheet, and easy data capture.<h4>
 
<h2>Why did you do?<h2>
	<h4>We worked on the topic of IGC waste disposal system which is relevant to biodiversity, 15th sustainable develop a goal. 
	We chose IGC waste disposal system as our topic because we see most of the IGC residents do not recycle although IGC encourages them to recycle. 
	Therefore, we wanted to determine what makes people not recycle. It could be the IGC waste disposal system issues or one's own recycling behavioral pattern. 
	We individually assumed that enough recycle bins are not provided within the building or campus. For more precise data, we aggregated the data through a survey among IGC residents. 
	That way, major issues can be detected and able to come up with the best solution.<h4>
 
<h2>What did you learn?<h2>
	<h4>Through the survey, first, we can figure out demographics, such as gender, residing building, and the duration of residence in IGC, of the participants.
	Then, we asked knowledge of recycling, in order to find out whether the lack of knowledge results in less recycling in IGC global campus or not. 
	Then, through branching, we asked the degree of satisfaction and recommendation for IGC‘s waste disposal system, 
	if respondents say yes to the question “Do you recycle at IGC”, and if respondents say no to that question, we asked the reasons for not recycling at IGC. 
	Through this survey, we learned the pattern of waste disposal in IGC and found out major reasons that make difficulties of recycling at IGC. 
	From the survey result, we could figure out that most people are recycling at their own houses but not in IGC and the reason for not recycling in IGC is mainly the lack of recycling bins. 
	As we found out the reasons, we could find the way to encourage recycling at IGC.<h4>
 
<h2>What would be the next step?<h2>
	
	<h4>We analyzed the data after collecting participants' answers to our survey questions. 
	By asking IGC residents if they recycle at both campus and their home, we could determine each one’s recycling behavioral pattern. 
	Multiple choice questions are easy to analyze because there are a limited number of options that participants can make. 
	We effectively used the statistical analysis given by Google survey form. However, open-ended questions were a new challenge to us. 
	For the next step, to organize opinions received, we are going to analyze which words were used mostly. 
	If words like location, recycling bins, or posters come up multiple times, then we will going to read those comments and see if people who used those words have similar opinions. 
	Therefore, we could understand what respondents actually needs. <h4>

	<h4>Based on the survey results, our team members selected two main areas to make improvements. 
	First, we will display more recycle bins on the campus. 
	Many respondents revealed inconveniences of the location for recycling. 
	One of the possible solutions we found was putting recycle bins, separate from trash bins, on each and every floor. 
	Second, we are going to do promotions with IGC housing office to encourage people to recycle. 
	According to the survey, many residents do not even know what to recycle and where to do it. 
	These two solutions will be implemented next semester and see if people find our resolutions helpful. 
	After that, we will evaluate the results again by conducting a survey with a minimum of 100 participants. 
	Finally, we will continue to check in with people living on campus to see if we are making progress.<h4>
	
<br><h4><%= link_to 'Table of Contents', 'http://localhost:3000/' %><h4><br>