<h1>Table of Contents</h1>


<br><%= link_to "Load Data", "/team_data/load" %><br>
<br><%= link_to "Participants", "/participants/index" %><br>
<br><%= link_to "Recyclers", "/recyclers/index" %><br>
<br><%= link_to "Non Recyclers", "/non_recyclers/index" %><br>
<br><%= link_to "Satisfaction Pie Chart", "/explore/satisfaction" %><br>
<br><%= link_to "Garbage Amount Pie Chart", "/explore/amount_of_garbage" %><br>
<br><%= link_to "Recyclers vs. Non Recyclers Pie Chart", "/explore/if_they_recycle" %><br>
<br><%= link_to "Analysis", "/explore/analysis" %><br>